@import "../../../_colours.scss";
@import "../../../_dimensions.scss";

.value-prop {
  background: $value-box;
  color: $text;

  .content-box-container h2 {
    margin-bottom: 1em;

    @media (min-width: $desktop) {
      margin-bottom: 0.4em;
    }
  }

  ul {
    @media (min-width: $desktop) {
      list-style-type: disc;
      padding-left: 2em;
    }
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0 0 1em 0;
      font-size: 1.2em;
    }
  }
  .desktop-video {
    top: 0;
    right: 0;
    iframe {
      width: calc(#{ $content-width } / 2);
      height: 15em;
    }
  }
}
