@import '../../../_colours.scss';
@import '../../../_dimensions.scss';

.header {
  margin: 0.4em;
  overflow: hidden;
  .header-container {
    margin: 0.2em auto;
    position: relative;
    @media (min-width: $desktop) {
      width: $hero-width;
    }
  }
  display: block;

  .kooth {
    display: block;
    width: 6em;
    margin: 0 0.2em;
  }
  .SOME_PARTNER {
    display: block;
    position: absolute;
    right: 0.5em;
    bottom: 0.15em;
    width: 6em;
    height: auto;
  }
  .tag-line {
    display: block;
    font-family: Montserrat, sans-serif;
    margin: 0 0.2em;
  }
}
