// accessible colours
$ac-purple: #a252cf;

$yellow: #ffc600;
$aquamarine3: #00d0bb;
$purple: #933bf9;
$pink: #d282ff;
$blue: #009ed5;
$light-blue: #00e8ff;
$almost-black: #2e2e2e;
$actual-proper-black: #000;
$grey: #c3c3c3;
$white: #fff;
$almost-white: rgba(244, 244, 244, 255);
$blue2: #00bdff;
$yellow2: #ffe600;
$background-yellow: #F8C623;
$almost-white2: #f4f4f4;

$kooth-teal: #00D0BB;
$kooth-purple: #D282FF;
$kooth-yellow: #FFE600;

$call-to-action: $yellow;
$call-to-action-text: $almost-black;
$text: $almost-black;
$alternate-text: $white;
$subtitle: $aquamarine3;
$breakout-1: $pink;
$breakout-2: $aquamarine3;
$active: $light-blue;
$background: $white;
$info-background: $blue;
$modal-background: $grey;
$link-colour: $blue2;
$online: $aquamarine3;

$footer-colour: $actual-proper-black;
$footer-text: $white;

$value-box: $background-yellow;
$value-box-text: $white;

$quote: $ac-purple;
$quote-text: $white;
$quote-pop: $pink;

$light-background: $almost-white2;
$expand-flash: $kooth-yellow;

$form-background: $kooth-yellow;
$form-info: $kooth-teal;
